body{
    background: linear-gradient(90deg, rgba(6, 28, 51, 1), rgba(0,0,0,0)), url(../img/cuidadorimg.jpg) no-repeat center / cover;
    font-family: 'Roboto Condensed', sans-serif;
  }

.main{
    background: white;
    color: #212124;
    font-weight: bold;
    border-radius: 45px;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 25%;
    padding: 5%;
    padding-top: 1.5%;
    padding-bottom: 3%;
  }

.login{
    text-align: center;
    margin: 25%;
}

h1{
    font-size: 72px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 26px;
    background: #fafafa;
    border-radius: 15px;
    padding: 3%;
    border: 0.5px solid black;
}


a{
    text-decoration: none;
    color: #1C1E4A;
}

a:hover{
    color: #41EAA7;
}

/* .perfil{
    text-align: left;
    vertical-align: super;
    height: 70px;
    width: 70px;
    position: static;
    margin: 30px;
} */

#plus{
    font-size: 92px;
}

.text-main { color: #1C1E4A; }
.text-primary { color: #41EAA7; }

.cuidadores{
    text-align: center;
    position: inherit;
}


/* Mobile Styling */
 
/* @media (max-width: 800px) {
    .main{
        max-width: 100%;
        flex: 100%;
        font-size: 36px;
        line-height: 34px;
    }
} */